@import "tailwindcss";

@theme {
  --color-cvc-blue: #0056b3;
  --color-cvc-dark: #030712;
}

:root {
  background-color: var(--color-cvc-dark);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  @apply antialiased text-slate-200;
}

#root {
  width: 100%;
}